<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>AxU.avr.xcode4.template</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds an basic AVR C project</string>
	<key>SorterOrder</key>
	<integer>1</integer>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-header</string>
		<string>public.c-source</string>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>unity/unity_internals.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>unity</string>
			</array>
			<key>Path</key>
			<string>unity/unity_internals.h</string>
		</dict>
		<key>unity/unity.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>unity</string>
			</array>
			<key>Path</key>
			<string>unity/unity.h</string>
		</dict>
		<key>unity/unity.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>unity</string>
			</array>
			<key>Path</key>
			<string>unity/unity.c</string>
		</dict>
		<key>test/TestMain.c</key>
		<dict>
			<key>Group</key>
			<array>
				<string>test</string>
			</array>
			<key>Path</key>
			<string>test/TestMain.c</string>
		</dict>
		<key>src/main.c</key>
		<dict>
			<key>Path</key>
			<string>src/main.c</string>
			<key>Group</key>
			<array>
				<string>src</string>
			</array>
		</dict>
		<key>Makefile</key>
		<dict>
			<key>Path</key>
			<string>Makefile</string>
		</dict>
		<key>TestAll.sh</key>
		<dict>
			<key>Path</key>
			<string>TestAll.sh</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>test/TestMain.c</string>
		<string>unity/unity_internals.h</string>
		<string>unity/unity.h</string>
		<string>unity/unity.c</string>
		<string>src/main.c</string>
		<string>Makefile</string>
		<string>TestAll.sh</string>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>PATH</key>
			<string>$(PATH):$(PROJECT_DIR)</string>
			<key>HEADER_SEARCH_PATHS</key>
			<string>/usr/local/lib/gcc/avr/4.1.1/include /usr/local/avr/include</string>
			<key>PRODUCT_NAME</key>
			<string>$(TARGET_NAME)</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>All</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolArgsString</key>
			<string>all -C &quot;$(PROJECT)&quot;</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Build</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>clean build -C &quot;$(PROJECT)&quot;</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Upload</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>flash -C &quot;$(PROJECT)&quot;</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Clean</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>clean -C &quot;$(PROJECT)&quot;</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Test</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>./$(PROJECT)/TestAll.sh</string>
			<key>BuildToolArgsString</key>
			<string>&quot;$(PROJECT)&quot;</string>
		</dict>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.tool</string>
			<key>Name</key>
			<string>Index</string>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>atmega328p</string>
			<key>Description</key>
			<string>Microcontroller</string>
			<key>Identifier</key>
			<string>MCU</string>
			<key>Name</key>
			<string>MCU</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>uc3a0512</key>
				<dict/>
				<key>c128</key>
				<dict/>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>arduino</string>
			<key>Description</key>
			<string>Programmer</string>
			<key>Identifier</key>
			<string>PROGRAMMER</string>
			<key>Name</key>
			<string>Programmer</string>
			<key>SortOrder</key>
			<integer>2</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>2232HIO</key>
				<dict/>
				<key>4232h</key>
				<dict/>
				<key>arduino</key>
				<dict/>
				<key>arduino-ft232r</key>
				<dict/>
				<key>atmelice</key>
				<dict/>
				<key>atmelice_dw</key>
				<dict/>
				<key>atmelice_isp</key>
				<dict/>
				<key>atmelice_pdi</key>
				<dict/>
				<key>avr109</key>
				<dict/>
				<key>avr910</key>
				<dict/>
				<key>avr911</key>
				<dict/>
				<key>avrftdi</key>
				<dict/>
				<key>avrisp</key>
				<dict/>
				<key>avrisp2</key>
				<dict/>
				<key>avrispmkII</key>
				<dict/>
				<key>avrispv2</key>
				<dict/>
				<key>buspirate</key>
				<dict/>
				<key>buspirate_bb</key>
				<dict/>
				<key>butterfly</key>
				<dict/>
				<key>butterfly_mk</key>
				<dict/>
				<key>bwmega</key>
				<dict/>
				<key>C232HM</key>
				<dict/>
				<key>c2n232i</key>
				<dict/>
				<key>dasa</key>
				<dict/>
				<key>dasa3</key>
				<dict/>
				<key>diecimila</key>
				<dict/>
				<key>dragon_dw</key>
				<dict/>
				<key>dragon_hvsp</key>
				<dict/>
				<key>dragon_isp</key>
				<dict/>
				<key>dragon_jtag</key>
				<dict/>
				<key>dragon_pdi</key>
				<dict/>
				<key>dragon_pp</key>
				<dict/>
				<key>flip1</key>
				<dict/>
				<key>flip2</key>
				<dict/>
				<key>ft232r</key>
				<dict/>
				<key>ft245r</key>
				<dict/>
				<key>jtag1</key>
				<dict/>
				<key>jtag1slow</key>
				<dict/>
				<key>jtag2</key>
				<dict/>
				<key>jtag2avr32</key>
				<dict/>
				<key>jtag2dw</key>
				<dict/>
				<key>jtag2fast</key>
				<dict/>
				<key>jtag2isp</key>
				<dict/>
				<key>jtag2pdi</key>
				<dict/>
				<key>jtag2slow</key>
				<dict/>
				<key>jtag3</key>
				<dict/>
				<key>jtag3dw</key>
				<dict/>
				<key>jtag3isp</key>
				<dict/>
				<key>jtag3pdi</key>
				<dict/>
				<key>jtagkey</key>
				<dict/>
				<key>jtagmkI</key>
				<dict/>
				<key>jtagmkII</key>
				<dict/>
				<key>jtagmkII_avr32</key>
				<dict/>
				<key>lm3s811</key>
				<dict/>
				<key>mib510</key>
				<dict/>
				<key>mkbutterfly</key>
				<dict/>
				<key>nibobee</key>
				<dict/>
				<key>o-link</key>
				<dict/>
				<key>openmoko</key>
				<dict/>
				<key>pavr</key>
				<dict/>
				<key>pickit2</key>
				<dict/>
				<key>ponyser</key>
				<dict/>
				<key>siprog</key>
				<dict/>
				<key>stk500</key>
				<dict/>
				<key>stk500hvsp</key>
				<dict/>
				<key>stk500pp</key>
				<dict/>
				<key>stk500v1</key>
				<dict/>
				<key>stk500v2</key>
				<dict/>
				<key>stk600</key>
				<dict/>
				<key>stk600hvsp</key>
				<dict/>
				<key>stk600pp</key>
				<dict/>
				<key>UM232H</key>
				<dict/>
				<key>usbasp</key>
				<dict/>
				<key>usbasp-clone</key>
				<dict/>
				<key>usbtiny</key>
				<dict/>
				<key>wiring</key>
				<dict/>
				<key>xplainedpro</key>
				<dict/>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>16000000</string>
			<key>Description</key>
			<string>MCU frequence (in Hz)</string>
			<key>Identifier</key>
			<string>F_CPU</string>
			<key>Name</key>
			<string>Frequency</string>
			<key>SortOrder</key>
			<integer>4</integer>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
</dict>
</plist>
